<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{{ static('styles.css') }}">
  {% block css %}
  {% endblock css %}
  {% block head_scripts %}
  {% endblock head_scripts %}
</head>
<body>
  <header>
    {% block header %}
      {% include 'header.jinja' %}
    {% endblock header %}
  </header>
  <main>
    {% block body %}
    {% endblock body %}
  </main>
  <footer>
    {% block footer %}
      <h2>Footer</h2>
    {% endblock footer %}
  </footer>
</body>
{% block scripts %}
{% endblock scripts %}
</html>
